<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>pbox微信首页</title>
	<style>
		.nav{
			width:900px;height:300px;
		}
		.nav a{
			text-decoration: none;
		}
		.nav ul{
			
		}
		.nav li{
			list-style: none;float: left;padding: 25px
		}
	</style>
</head>
<body>
	<div><h1>欢迎您加入会拍生活！</h1></div>
	<div><a href="{:url('admin/index/login')}">后台管理登陆</a></div>
	<div class="nav"><ul style="float:left">
	<a href=""><li>关于会拍</li></a>
		<a href="{:url('home/index/indexPhotographer')}"><li>签约摄影师</li></a>
		<a href=""><li>今日头图</li></a>
		<a href="{:url('home/index/indexMember')}"><li>预约拍摄</li></a>
		<a href=""><li>建议投诉</li></a>
		<a href=""><li>活动</li></a>
		<a href=""><li>电话</li></a>
		<a href=""><li>客服</li></a>
		</ul></div>
		
</body>
</html>